.mui-list {

    li.mui-list-item {
        border-bottom: 1px solid @border-color;
        // background-color: red;
        /*padding-left: 16px;*/
        /*padding-right: 16px;*/
        margin: 0px;
        height: 72px;
    }
    .icon {
        position: absolute;
        // background-color: blue;
        width: 30px;
        height: 30px;

        margin-left: 23px;
        margin-top: 20px;
    }
    .icon img {
        // border-radius: 30px;
        // border: 1px solid #ddd;
        width: 31px;
        // margin: 15px;
    }
    .content {
        padding: 16px;
        padding-left: 72px;
        position: relative;
    }
    .content .date {
        position: absolute;
        top: 13px;
        right: 15px;
        color: @primary-1-color;
        font-size: 12px;
    }
    .content .mui-icon {
        display: block;
        position: absolute;
        right: 20px;
        bottom: 22px;
        font-size: 16px;
    }
    .content .description {
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        display: block;
        width: 90%;
        margin: 0 0 3px 0;
        font-size: 0.75em;
    }
    .content .title {
        font-weight: 400;
        font-size: 1.2em;
    }
}
